<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- jQuery library -->
	    <%= stylesheet_link_tag 'menu' %>
	    <%= javascript_include_tag "home/menu" %>
</head>
<body>
<!-- voy a tener un nav con el usuario conectado, login, logout -->
<!-- el menu principal va a estar siempre visible al costado con todos los modulos modificables -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <p class="navbar-text">Conectado como "Nombre Apellidos"</p>
</nav>
<div id="nav-vertical">
	<ul class="nav nav-pills nav-stacked">
		<li><%= link_to "Servicios", :action => 'servicios' ,  :remote => true %></li>
		<li><span class="badge pull-right"><%= @leidos %></span><%= link_to "Mensajes", :action => 'mensajes' ,  :remote => true %></li>
		<li><%= link_to "Nosotros", :action => 'nosotros' ,  :remote => true %></li>		
	</ul>
</div>
<!-- contenedor principal donde se muestre el menu activo -->
<div id="contenedor-principal">
<%= render :partial => 'mensajes'%>
</div>

</body>
</html>