

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">AM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li><a href="#home">Inicio</a></li>
			<li><a href="#about">Nosotros</a></li>
			<li><a href="#contables">Servicios</a></li>
			<li><a href="#contacto">Contacto</a></li>
		</ul>
		</div>
  	</div>
</nav>
</header>
	<!--<nav>
		<ul>
			<li><a href="#home">Inicio</a></li>
			<li><a href="#about">Nosotros</a></li>
			<li><a href="#contables">Servicios</a></li>
			<li><a href="#contacto">Contacto</a></li>
		</ul>
		<div class="nav-logo">
				<h2>AM</h2>
		</div>
	</nav>-->
		<div class="section-principal" id="home">
			<div class="section-principal-nombre">
				<h1>AM-ESTUDIO</h1>
				<h2>Auditoría - Impuestos - Consultoría</h2>
			</div>
			<div class="consultas">
				<form class="formulario-consulta">
					<div class="formulario-consulta-titulo"><span>Consultas</span></div>
					<div class="formulario-consulta-contenido">
					<input placeholder="Nombre y Apellido"></input>
					<input name="mail" <%= @mail %> placeholder="Mail"></input>
					<input placeholder="Telefono"></input>
					<input id="consulta" placeholder="Consulta"></input>
					<button type="submit">ENVIAR</button>
				</div>
				</form>
			</div>
		</div>
		<div class="section-about" id="about">
			<h1>Quienes somos</h1>
   	 		<div class="about-contenedor">
    			<!--<div class="about-nombres">
  			      	<h1 id="nombre-mariela">Mariela Berioto</h1>
  			      	<img id="foto-mariela"src="https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/linkedin-square-social-media-128.png"/>
  			      	<h1 id="nombre-martin">Martín Morrongielo</h1>
  			      	<img id="foto-martin" src="https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/linkedin-square-social-media-128.png"/>
  				</div>-->
    			<div class="about-persona">
      				<img src="http://www.quisqueyainformativa.com.do/wp-content/uploads/2015/11/Angelina-Jolie-1.jpg" class="shaped"/>
      				<div class="about-persona-nombre">
      					<ul>
      						<li><h1>Mariela Beriotto</h1></li>
      						<li><img class="about-linkedin" src="https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/linkedin-square-social-media-128.png"/></li>
      					</ul>
      				</div>
      				<p>
        			Mariela es Contadora Pública graduada en la Universidad de Buenos Aires en el año 2012.
        			</br>
        			</br>
        			KPMG fue su primer experiencia profesional en el año 2009, en el área de auditoría externa, donde partició del equipo activo de auditorías contables de las entidades bancarias más importante de la República Argentina. Allí realizó diversas tareas profesionales,
        			como evaluación del diseño, implementación y efectividad de los sistemas de controles internos, elaboración de balances de publicación, análisis de cuentas contables, emisión de informes para Organismos públicos de contralor como el B.C.R.A.,entre otras tareas.
        			</br>
        			</br>
        			Hacia abril de 2013, se incorpora a NIVEA, como analista Senior de Impuestos, donde tiene a cargo la atención de inspecciones de entes recaudadores provinciales y Nacionales, presentaciones impositivas requeridas, elaboración de manuales de procedimientos,
        			y todas las tareas necesarias para el cumplimiento de las obligaciones de impuestos vigentes.
        			</br>
        			</br>
        			Con el objetivo de volcar su conocimiento y experiencia, en un servicio de calidad profesional hacia los clientes personas físicas y empresas Pymes,  desarrolla  BM Asociados en 2015.
        			</p>
    			</div>
	    		<div class="about-persona">
      				<img src="http://www.lifesgood.es/wp-content/uploads/2014/12/brad-pitt-magazine.jpg" class="shaped"/>
      				<div class="about-persona-nombre">
      					<ul>
      						<li><h1>Martin Morrongiello</h1></li>
      						<li><img class="about-linkedin" src="https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/linkedin-square-social-media-128.png"/></li>
      					</ul>
      				</div>
      				<p>
						Martín es Contador Público graduado en la Universidad de Buenos Aires en el año 2012.</br></br>
						Inició su carrera profesional en el año 2005 desarrollándose en el ámbito empresarial. Hacia el año 2008 se incorpora a KPMG, unas de las cuatro firmas de servicios profesionales más importantes a nivel mundial, donde participa en distintos proyectos de consultoría, asistiendo a clientes en la mejora de procesos, optimización de costos, transición e implementación de cambios organizacionales, auditorías de sistemas y procedimientos, y especializándose en el asesoramiento en la teneduría de libros contables.</br></br>
						En el año 2013, se incorpora al Estudio La Vista and Laiún en el área de auditoría externa, teniendo a cargo distintos trabajos de auditoría para la emisión de estados contables, informes especiales, certificaciones contables, y auditorías gubernamentales, entre otros.</br></br>
						Hacia febrero de 2014, se incorpora como Jefe de Administración General y Finanzas de Clínica Van Thienen, institución líder en Argentina en cirugías estéticas y reparadoras, especializándose en salud.
						En esta posición de gerenciamiento general de la clínica, fortalece financieramente a la empresa, asume el proyecto de desarrollar un área de IT (sistemas), RRHH, la reorganización del área de administración y comercial mediante sistemas de control de gestión y establecimiento de objetivos anuales, desarrollando una tarea de Management.</br></br>
						Producto de la variada experiencia adquirida, en 2015 se funda M - B Asociados, una firma cuyo objetivo es asesorar a personas físicas y empresas Pymes, en el crecimiento y fortalecimientos de su negocios, y en el cumplimiento antes los distintos Organismos Públicos, de las obligaciones que de ello se deriven, en un contexto donde todos los días surgen nuevas resoluciones y normativas por parte de los estados.
        			</p>
    			</div>

  			</div>
		</div>
		<div class="section-contable" id="contables">
			<h1>Nuestros Servicios</h1>
			<div class="servicios" id="servicios-auditoria" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="servicio-front">
					<h3>Auditoria</h3>
					<img src="http://previews.123rf.com/images/luckybusiness/luckybusiness1408/luckybusiness140800059/30471393-Wooden-table-with-office-supplies-top-view-Stock-Photo-desk.jpg"/>
				</div>
				<div class="servicio-back">
					<h3>Auditoria</h3>
					<img src="http://previews.123rf.com/images/luckybusiness/luckybusiness1408/luckybusiness140800059/30471393-Wooden-table-with-office-supplies-top-view-Stock-Photo-desk.jpg"/>

				</div>
			</div>
			</div>	
			<div class="servicios" id="servicios-impuestos" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="servicio-front">
						<h3>Impuestos</h3>
						<img src="https://farm4.staticflickr.com/3691/9494457329_9f0fbc3935_b.jpg"/>
					</div>
					<div class="servicio-back">
						<h3>Impuestos</h3>
						<img src="https://farm4.staticflickr.com/3691/9494457329_9f0fbc3935_b.jpg"/>
					</div>
				</div>
			</div>	
			<div class="servicios" id="servicios-consulting" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="servicio-front">
						<h3>Consulting</h3>
						<img src="https://www.communicaid.com/wp-content/uploads/2013/12/Meeting_Business-Meeting_-2_nyul_i.jpg"/>
					</div>
					<div class="servicio-back">
						<h3>Consulting</h3>
						<img src="https://www.communicaid.com/wp-content/uploads/2013/12/Meeting_Business-Meeting_-2_nyul_i.jpg"/>
					</div>
				</div>
			</div>	
			<div class="servicios-mobile">
				<h3>Auditoria</h3>
					<p class="servicios-mobile-p">
					 	Los servicios relacionados a la contabilidad, pueden ser muy variados, desde las registraciones de las operaciones del negocio de un cliente, su consecuente asiento en los libros contables legales, hasta la emisión de los balances de publicación, o elaboración de informes especiales o certificaciones para su presentación ante terceros u Organismos públicos.
					 	</br></br>
						Es indispensable para toda actividad comercial, tomar decisiones en los momentos oportunos y cuando sea necesario. Es por ello, que contar con un Sistema de Registración Contable (SRC) ordenado, puede marcar la diferencia entre decisiones correctas e incorrectas , debido a la información que se tenga cuando se precisa.
						</br></br>
						Contamos con herramientas y servicios correspondientes, para brindar a su negocio un sistema de información contable ordenado, acorde con las necesidades de cada actividad, y con las demandas de los distintos entes de contralor.
					</br></br>
					</p>
					<ul class="servicios-mobile-listas">
						<li>Auditoría de Estados Contables y emisión de Balances</li>
						<li>Informes Especiales y Certificaciones Contables</li>
						<li>Informes de revisión limitada</li>
						<li>Asesoramiento en la teneduria de libros contables</li>
						<li>Registraciones contables</li>
						<li>Informes especiales sobre procesos administrativos y operativos.</li>
						<li>Relevamiento y diseño de sistemas de Control interno</li>
					</ul>
			</div>
			<div class="servicios-mobile">
				<h3>Impuestos</h3>
					<p class="servicios-mobile-p">
					 	Ante la diversidad de normas y cumplimientos necesarios dispuestos por los organismos fiscales como de seguridad social, nuestra área de asesoramiento impositivo, brinda a nuestros clientes asesoramiento que genera valor agregado a su actividad, buscando optimizar los recursos mediante el desarrollo y coordinación de estrategias ante los estados naciones, provinciales y municipales.
					 </br></br>
					</p>
					<ul class="servicios-mobile-listas">
						<li>Asesoramiento impositivo en materia de impuestos nacionales y provinciales.</li>
						<li>Planificación impositiva.</li>
						<li>Liquidación de impuestos nacionales, provinciales o municipales.</li>
						<li>Atención de inspecciones por parte de los fiscos provinciales o el Fisco nacional.</li>
						<li>Liquidaciones de SUELDOS y Cargas Sociales.</li>
						<li>Jornadas de actualizaciones Impositivas y de Seguridad Social.</li>
						</ul>
			</div>
			<div class="servicios-mobile">
				<h3>Consulting</h3>
				<p class="servicios-mobile-p">
					En un mundo de alta competencia empresarial, contar con procesos estandarizados, con información oportuna, y una estructuración de los negocios acorde a la realidad de la actividad que se realiza, marca la diferencia entre las empresas, y en tomar decisiones acertadas, y su consecuente impacto económico y social.
				</br></br>
 					La Gestiòn es aquello que genera valor agregado, es el diferencial para anticiparse al mercado.
 				</br></br>
					Nuestra área de consultoria, se especializa en el gerenciamiento y asesoramiento estratégico, financiero, y operativo, de empresas. Para ello, brindamos los siguientes servicios 
					</br>
				</br>
					</p>
					<ul class="servicios-mobile-listas">
						<li>Implementaciòn de tableros de comando y reporting al Directorio.
						<li>Gerenciamiento de empresas, startup del negocio.</li>
						<li>Planificación financiera, asesoramiento ante entidades bancarias y Organismos estatales de desarrollo.</li>
						<li>Relevamiento, diseño y desarrollo de manuales de procedimientos.</li>
						<li>Outsourcing contable.</li>
						<li>Preparación de declaraciones juradas impositivas.</li>
						<li>Revisión y conciliaciones de cuentas contables.</li>
						<li>Reporting contable y cierre mensual.</li>
					</ul>
			</div>
		</div>
	<div class="section-contacto" id="contacto">
		<div class="contacto-noticias">
			<div class="noticias-titulo">
				<h1>Noticias</h1>
			</div>
			<div class="noticias-cuerpo">
				<% for noticia in @noticias[0..2] do %>
				<div class="noticias-noticia">
					<h3><%= noticia["title"]%></h3>
					<h4><%= noticia["fechaPublicacion"]%></h4>
					<p><%= noticia["description"]%></p>
					<a href=<%= noticia["link"] %>>link</a>
				</div>
				<% end %>
			</div>
		</div>
		<div class="contacto-datos">
			<img src="http://www.myhomebest.info/wp-content/uploads/2014/05/Modern-meeting-room-window-place-Interior-Design.jpg"/>
			<div class="contacto-datos-texto">
				<p>MT-CONTABLES</p>
				<p>Calle Falsa 123</p>
				<p>(011)4323-2343</p>
				<p>info@am-estudio.com</p>
			</div>
		</div>
	</div>
	<footer>
		<span>AM-Estudio todos los derechos reservados - <%= formatted_time(@time) %></span>
		<div class="redes-sociales">
			<img src="http://cdn.flaticon.com/png/64/33/33702.png"/>
			<img src="https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/linkedin-square-social-media-128.png"/>
		</div>
	</footer>
