
<%= stylesheet_link_tag 'home' %>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">AM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li><a href="#home">Inicio</a></li>
			<li><a href="#about">Nosotros</a></li>
			<li><a href="#contables">Servicios</a></li>
			<li><a href="#contacto">Contacto</a></li>
		</ul>
		</div>
  	</div>
</nav>
</header>
		<div class="section-principal" id="home">
			<div class="section-principal-nombre">
				<h1>AM-ESTUDIO</h1>
				<h2>Auditoría - Impuestos - Consultoría</h2>
			</div>
			<div class="consultas">
				<div class="formulario-consulta">
					<div class="formulario-consulta-titulo"><span>Consultas</span></div>
					<%= form_for :consulta, :url => { :action => 'create' }, :class => 'formulario-consula-contenido' do |f| %>
						<%= f.text_field :name, :class => 'input', :placeholder => 'Nombre y Apellido'%>
						<%= f.text_field :mail, :class => 'input', :placeholder => 'juan@correo.com'%>
						<%= f.text_field :telefono, :class => 'input', :placeholder => '(011)4123-5678' %>
						<%= f.text_field :consulta, :class => 'input', :placeholder => 'Ingrese su consulta'%>
						<%= f.submit 'Enviar', :class => 'button' %> 
					<%end%>
					</div>
				</div>
			</div>
		</div>
		<div class="section-about" id="about">
			<h1>Quienes somos</h1>
   	 		<div class="about-contenedor">
   	 			<% @personas.each do |persona| %>
   	 				<div class="about-persona">
   	 					<img src=<%= persona.foto %> class="shaped"/>
   	 					<div class="about-persona-nombre">
   	 						<ul>
   	 							<li><h1><%= persona.nombre %></h1></li>
   	 							<li><a href="http://www.linkedin.com"><img class="about-linkedin" src="https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/linkedin-square-social-media-128.png"/></a></li>
   	 						</ul>
   	 					</div>	
   	 					<p><%= persona.descripcion %></p>
   	 				</div>
 				<% end %> 			
  			</div>
		</div>
		<div class="section-contable" id="contables">
			<h1>Nuestros Servicios</h1>
			<% @servicios.each do |servicio| %>
				<div class="servicios" id=<%= "servicios-" + servicio.nombre.to_s %> ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="servicio-front">
							<h3><%= servicio.nombre %></h3>
							<img src=<%= servicio.foto_front %>/>
						</div>
						<div class="servicio-back">
							<h3><%= servicio.nombre %></h3>
							<img src=<%= servicio.foto_back %>/>
						</div>
					</div>
				</div>
				<div class="servicios-mobile">
					<h3><%= servicio.nombre %></h3>
					<p class="servicios-mobile-p" id=<%= servicio.nombre.to_s + "_desc"%> >
						<%= servicio.descripcion %></p>
					<ul class="servicios-mobile-listas" id= <%=  servicio.nombre.to_s + "_list" %>>
						<% servicio.servicios_lists.each do |lista| %>
							<li><%= lista.descripcion %></li>
						<% end %>
					</ul>
				</div>
			<% end %>	
		</div>
	<div class="section-contacto" id="contacto">
		<div class="contacto-noticias">
			<div class="noticias-titulo">
				<h1>Noticias</h1>
			</div>
			<div class="noticias-cuerpo">
				<% for noticia in @noticias[0..4] do %>
				<div class="noticias-noticia">
					<h3><%= noticia["title"]%></h3>
					<h4><%= noticia["fechaPublicacion"]%></h4>
					<p><%= noticia["description"]%></p>
					<a href=<%= noticia["link"] %>>link</a>
				</div>
				<% end %>
			</div>
		</div>
		<div class="contacto-datos">
			<img src="http://www.myhomebest.info/wp-content/uploads/2014/05/Modern-meeting-room-window-place-Interior-Design.jpg"/>
			<div class="contacto-datos-texto">
				<p>MT-CONTABLES</p>
				<p>Calle Falsa 123</p>
				<p>(011)4323-2343</p>
				<p>info@am-estudio.com</p>
			</div>
		</div>
	</div>
	<footer>
		<span>AM-Estudio todos los derechos reservados - <%= formatted_time(@time) %></span>
		<div class="redes-sociales">
			<a href="http://www.facebook.com"><img src="http://cdn.flaticon.com/png/64/33/33702.png"/></a>
			<a href="http://www.linkedin.com"><img src="https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/linkedin-square-social-media-128.png"/></a>
		</div>
	</footer>
